<!-- Archivo de inicio -->
<div id="logo-brackets">
    <div class="square">
        <img class="img" src="images/yuem.jpg" alt="YUEM">
    </div>
    <b><a class="github" href="https://github.com/juanmahecha9" target="_blank">{{url}}</a></b>
</div>
<!-- Fin -->